{% if story_details %}
## 剧情记忆

{% for item in story_details %}
- [{{ item.memory_kind | default('event') }}; {{ item.epistemic_status | default('confirmed') }}] {{ item.text }}
{% endfor %}
{% endif %}
